div {
  background-color: green;
}

div > p{
  border: black 3px dotted;
  padding: 10px 10px 10px 10px;
}
div.sentence1{
  color: red;
}

div.sentence2{
  color: #06402B;
}

div p{
  color: purple;
  background-color: green;
}
